<?xml version="1.0"?>
<config>
    <modules>
        <Iou_Directive>
            <version>1.0.0</version>
        </Iou_Directive>
    </modules>
    <global>
        <catalog>
            <content>
                <tempate_filter>block/template_filter</tempate_filter><!-- change the template filter -->
            </content>
        </catalog>
    </global>
</config>